body 
{
    background-color: rgb(192, 131, 192)
}

h1
{
    font-style: italic;
    font-size: 50px;
    text-align: center;
    color: darkmagenta;
    font-weight: 900px;
    margin-top: 40px;
}

#buttons
{   
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items:center;
    padding: 20px;
    gap: 50px;
}

button {
    display: inline-block;
    width: 300px;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: goldenrod;
    color: brown;
    font-family: cursive;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 30px;
}

img {
    display: flex;
    width: 120px;
    height: 120px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 30%;
}
