body 
{
    background-color: rgb(175, 111, 175);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

/*styling for heading*/
h1  
{
    font-size: 50px;
    text-align: center;
    color: goldenrod;
    font-weight: 900px;
    margin-top: 40px;
    text-shadow: 2px 0 0 black;
}

/*styling for 3 buttons + images*/
#buttons
{   
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items:center;
    padding: 20px;
    gap: 50px;
}

/*styling for 3 buttons*/
button {
    width: 300px;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: goldenrod;
    color: darkred;
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 30px;
}

#scores, #message, #round-message
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items:center;
    padding: 20px;
    gap: 150px;
    color: darkblue;
    text-shadow: 2px 0 0 darkred;
    font-size: 40px;
    margin-top: 2%;
}

#round-message
{
    color: gold;
    font-weight: bold;
}

img {
    display: flex;
    width: 140px;
    height: 140px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 30%;
}
